*{
margin: 0px;
padding: 0px;
}

header{
    
    background-image: url("../assets/images/banner-bk.jpg");
    background-size: cover;
    height: 85vh;
    color: aliceblue;
 
}

.main{
    display: flex;
    justify-content: space-between ;
    
}

.link1{
    margin-top: 60px;
    text-decoration: none;
    color: aliceblue;
}

.link2{
   text-decoration: none;
    color: aliceblue;
}


.title2{
    font-size: 65px;
    text-align: center;
    margin-top: 30px;
}


.imagenes{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.imagenes1 {
    display: flex;
    text-align: center;
    font-size: 18px;
    
    margin-left: 100px;
 align-items: space-evenly;
}

.section2{
    background: rgb(0,255,179);
background: linear-gradient(341deg, rgba(0,255,179,1) 10%, rgba(0,255,179,1) 14%, rgba(0,255,179,1) 50%, rgba(255,255,255,1) 51%);
}
.parte1{
    display: flex;
}


.parte2{
    display: flex;
}